In [152]:
greet = "Congratultion"
d = dict()
for i in greet:
    if i not in d:
        d[i] = 1
    else:
        d[i] = d[i] +1
print(d)

{'C': 1, 'o': 2, 'n': 2, 'g': 1, 'r': 1, 'a': 1, 't': 2, 'u': 1, 'l': 1, 'i': 1}

In [153]:
A = "Aakash kumar Missrani"
H = dict()
for i in A:
    if i not in H:
        H[i] = 1
    else:
        H[i] = H[i] + 1
print(H)
r = H
print(r)

{'A': 1, 'a': 4, 'k': 2, 's': 3, 'h': 1, ' ': 2, 'u': 1, 'm': 1, 'r': 2, 'M': 1, 'i': 2, 'n': 1}
{'A': 1, 'a': 4, 'k': 2, 's': 3, 'h': 1, ' ': 2, 'u': 1, 'm': 1, 'r': 2, 'M': 1, 'i': 2, 'n': 1}

In [154]:
L = len(H)
print(L)

12

In [155]:
for i in H:
    print(i)

A
a
k
s
h

u
m
r
M
i
n

In [156]:
n = dict()
n [1] = "one"
n [2] = "two"
n [3] = "three"
n [4] =  "four"
print(n)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [157]:
print(n.values())
print(n.keys())
print(n.items())
print(n.get(2))
print(n.get(10))
print(n.pop(1))

dict_values(['one', 'two', 'three', 'four'])
dict_keys([1, 2, 3, 4])
dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])
two
None
one

In [158]:
U = n.update(d)
print(U)

None

In [159]:
print(d)

{'C': 1, 'o': 2, 'n': 2, 'g': 1, 'r': 1, 'a': 1, 't': 2, 'u': 1, 'l': 1, 'i': 1}

In [160]:
d.update(n)
print(d)

{'C': 1, 'o': 2, 'n': 2, 'g': 1, 'r': 1, 'a': 1, 't': 2, 'u': 1, 'l': 1, 'i': 1, 2: 'two', 3: 'three', 4: 'four'}

In [161]:
print(r)

{'A': 1, 'a': 4, 'k': 2, 's': 3, 'h': 1, ' ': 2, 'u': 1, 'm': 1, 'r': 2, 'M': 1, 'i': 2, 'n': 1}

In [162]:
len(r)

12

In [163]:
n = dict()
n [1] = "one"
n [2] = "two"
n [3] = "three"
n [4] =  "four"
print(n)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [164]:
print(n)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [165]:
for i in n:
    print(i)

1
2
3
4

In [166]:
for i in n:
   print(n.values())

dict_values(['one', 'two', 'three', 'four'])
dict_values(['one', 'two', 'three', 'four'])
dict_values(['one', 'two', 'three', 'four'])
dict_values(['one', 'two', 'three', 'four'])

In [167]:
print(n)
for a in n.values():
    print(a)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
one
two
three
four

In [168]:
print(n.values())

dict_values(['one', 'two', 'three', 'four'])

In [169]:
n.get(2)

'two'

In [170]:
len(n)

4

In [171]:
list(n)

[1, 2, 3, 4]

In [172]:
world = {}
a= {"Aus": 0,"USA": 2}
b= {"jap": 5,  "ger": 3}
a.update(b)
print(a)
world.update(a)
print(world)

{'Aus': 0, 'USA': 2, 'jap': 5, 'ger': 3}
{'Aus': 0, 'USA': 2, 'jap': 5, 'ger': 3}

In [173]:
world.update(a)
print(world)

{'Aus': 0, 'USA': 2, 'jap': 5, 'ger': 3}

In [174]:
world.keys()

dict_keys(['Aus', 'USA', 'jap', 'ger'])

In [175]:
world.values()

dict_values([0, 2, 5, 3])

In [176]:
print(world)
for key, values in world.items():
    print(key, values)

{'Aus': 0, 'USA': 2, 'jap': 5, 'ger': 3}
Aus 0
USA 2
jap 5
ger 3

In [177]:
world= {'Aus': 0, 'USA': 2, 'jap': 5, 'ger': 3}
sum= 0
for value in world.values(): 
    sum += value
print(sum)  # Output: 0

10

In [178]:
e = "aakashkumarmissrani"
for p in e:
    print(p)

a
a
k
a
s
h
k
u
m
a
r
m
i
s
s
r
a
n
i

In [179]:
for c in (world.items()):
    print(c)

('Aus', 0)
('USA', 2)
('jap', 5)
('ger', 3)

In [180]:
colors = ["red", "blue", "green"]
for index, color in enumerate(colors):
    print(index, color)

0 red
1 blue
2 green

In [181]:
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [182]:
s = int(input())
w = s
x =[w**2 for w in range(10)]
print(x)

ValueError: invalid literal for int() with base 10: ''

In [64]:
x = 1
while x <= 10:
    print(x)
    x += 2

1
3
5
7
9

In [66]:
A= "bananana"
while A <=  "banana":
    print(A)

In [68]:
for i in A:
    print(i)

b
a
n
a
n
a
n
a

In [71]:
print(world)

{'Aus': 0, 'USA': 2, 'jap': 5, 'ger': 3}

In [93]:
#Task 3 Convert the list into a dictionary where the key is a word and the value is the number of letters.

original_list = ["apple", "banana", "kiwi"]
new_list={}
for i in original_list:
  x={i:len(i)}
  new_list.update(x)
print (new_list)

{'apple': 5, 'banana': 6, 'kiwi': 4}

In [98]:
OL = ["apple" ,  "banana" , "cherry"]
NL= {}
for i in OL:
    N={i:len(i)}
    NL.update(N)
print(NL)

{'apple': 5, 'banana': 6, 'cherry': 6}

In [99]:
print(world)

{'Aus': 0, 'USA': 2, 'jap': 5, 'ger': 3}

In [109]:
r = {}
for i in world:
    V = {i:len(i)}
    r.update(V)
print(r)

{'Aus': 3, 'USA': 3, 'jap': 3, 'ger': 3}

In [120]:
original_list = ["apple", "banana", "kiwi"]
new_list={}
for i in original_list:
  new_list[i]=len(i)
print(new_list)

{'apple': 5, 'banana': 6, 'kiwi': 4}

In [184]:
print(new_list)

{'apple': 5, 'banana': 6, 'kiwi': 4}

In [185]:
my_dict = {"a": 0, "b": 1, "c": 0, "d": 2}
new_dict={}
for key,value in my_dict.items():
  if value!=0:
    new_dict[key]=value
print(new_dict)

{'b': 1, 'd': 2}

In [205]:
S={}
for key, value in new_list.items():
    if value == 6:
        S[key] = value
print(S)

{'banana': 6}

In [191]:
my_dict = {"a": 1, "b": 3, "c": 0, "d": 2}
new_dict = {}
for key, value in my_dict.items():
    if value > 1:
        new_dict[key] = value + 5
print(new_dict)

{'b': 8, 'd': 7}

In [216]:
my_list = {"A": 1, "B": 2, "C": 3,  "D": 4, "E": 5}
data={}
for key, value in my_list.items():
    if value > 1:
        data[key] = value
print(data)

{'B': 2, 'C': 3, 'D': 4, 'E': 5}

In [234]:
my_list = {"A": 1, "B": 2, "C": 3,  "D": 4, "E": 5}
data={}
for key, value in my_list.items():
    if value == 2:
        data[key] = value +1
print(data)

{'B': 3}

In [242]:
my_dict = {"a": 1, "b": 4, "c": 3, "d": 6}
new_dict = {}
for key, value in my_dict.items():
    if value == 4:  # Check if value is even
        new_dict[key] = value * 2
print(new_dict)

{'b': 8}

In [260]:
# Dictionary with keys and values
data = {"apple": 1, "banana": 2, "cherry": 3, "date": 4}

# Get user input
user_input = input("Enter a key or value: ")

# Check if input is a key in the dictionary
if user_input in data:
    print("Value:", data[user_input])
else:
    # Try to find a key for the input as a value
    for key, value in data.items():
        if str(value) == user_input:
            print("Key:", key)
            break
    else:
        print("No match found.")

Value: 3

In [26]:
list= ["hi", "my", "name", "is", "Aakash"]
print(list[2][-1])

e

In [5]:
for name in list:
    for word in name:
        for charater in word:
            print(charater)

h
i
m
y
n
a
m
e
i
s
A
a
k
a
s
h

In [35]:
for name in list:
    for word in name:
        for charater in word:
            charater = charater.upper()
            print(charater)

H
I
M
Y
N
A
M
E
I
S
A
A
K
A
S
H

In [36]:
for name in list:
    for word in name:
        for charater in word:
            charater = charater.lower()
            print(charater)

h
i
m
y
n
a
m
e
i
s
a
a
k
a
s
h

In [40]:
for word in list:
        word = [pos.upper() for pos in word]
        print(word)

['H', 'I']
['M', 'Y']
['N', 'A', 'M', 'E']
['I', 'S']
['A', 'A', 'K', 'A', 'S', 'H']

In [65]:
print(list)
for word in list:
    word = [charater.upper()for character in word]
    print(word)
    print(''.join(word))

['hi', 'my', 'name', 'is', 'Aakash']
['H', 'H']
HH
['H', 'H']
HH
['H', 'H', 'H', 'H']
HHHH
['H', 'H']
HH
['H', 'H', 'H', 'H', 'H', 'H']
HHHHHH

In [69]:
animals = ['frog', 'rabbit', 'dog']
for word in animals:
    print(''.join(letter.upper()for letter in word))

FROG
RABBIT
DOG

In [70]:
new=input().split()
print(new)

['my', 'name', 'is', 'aakasj']

In [71]:
print(input().split())

['my', 'name', 'is', 'Aakash']

In [77]:
z = input().split()
print('..'.join(z))

hh..o..p..bb

In [83]:
lol=input().split()
for i in range(len(lol)):
    if lol[i] == "1":
        print("YES")
    else:
        print("NO")

YES

In [89]:
lol=input().split(' ')
print('/'.join(lol))

hello/girl

In [107]:
letters = ['a','k','p','d','p','h','l','t','e']
for i in range(len(letters)):
   print(i)
   print(letters[i])

0
a
1
k
2
p
3
d
4
p
5
h
6
l
7
t
8
e

In [109]:
greet = "Congratultion"
for i in range(len(greet)):
    print(greet[i])
    print(i)

C
0
o
1
n
2
g
3
r
4
a
5
t
6
u
7
l
8
t
9
i
10
o
11
n
12

In [118]:
new = ['-1', 'orange', '!:']
for i in new[1]:
    print(i, 'is a letter !')

o is a letter !
r is a letter !
a is a letter !
n is a letter !
g is a letter !
e is a letter !

In [119]:
print(list)

['hi', 'my', 'name', 'is', 'Aakash']

In [127]:
print(' '.join((i) for i in list))

hi my name is Aakash

In [135]:
x = input().split(' , ')
print(x)

print(s)

['jkfdh']

TypeError: can only concatenate str (not "list") to str

In [8]:
new_list= [1,2,3,4,5,6,7]
for i in new_list:
    print(i)
new_length= []
length = int(input(''))
for j in i:
    new_length.append(123)
    print(j)

1
2
3
4
5
6
7

TypeError: 'int' object is not iterable

In [2]:
count = 1
total = 0  # Start with a total of 0

while count <= 5:
    total += count  # Add the current count to total
    count += 1

print("Total sum:", total)

Total sum: 15

In [1]:
start= 1
add= 2
while start < 10:
 add += start
 start += 1
print(add)

47

In [29]:
count = 1
other = 0
while count <10:
    other += count
    count += 1
    print(other)

1
3
6
10
15
21
28
36
45

In [32]:
count = 1
other = 0
results = []  # List to store each cumulative value

while count < 10:
    other += count
    count += 1
    results.append(other)  # Add each result to the list

# Now print each value in 'results'
for i in results:
    print(i)

1
3
6
10
15
21
28
36
45

In [37]:
count= 1
target = int(input())
while count <target:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9

In [52]:
my_list = ["1", "2", "3"]
user = input("Enter a number: ")

if user in my_list:
    print("yes")
else:
    print("no")

yes

In [57]:
 #Question: Write a program that asks the user for a number and then counts from 1 up to that number.
 #  Use a while loop to print each number on a new line.

user= int(input())
count= 1
while count < user:
    print(count)
    count += 1

1
2
3
4
5

In [63]:
#Question: Write a program that starts with result = 1 and factor = 1. Use a while loop to multiply result by factor each time, and add 1 to factor until result reaches 100. 
# Print result each time it updates

user= int(input())
result = 1
factor = 1
while result <= user:
    result = result * factor
    factor = factor + 1
    print(result)

1
2
6
24
120

In [6]:
#Question: Create a countdown program that starts from 10 and goes down to 1, printing each number. When the loop ends, print "Blastoff!".
#Challenge: Make the countdown start from any number you want (ask the user for input), and still count down to 1.

#Solution:
user = int(input(" "))
start = 10
while user < 10:
    if user == 0:
     print("Blastoff")
     break
else:
    while start > 0:
        print(start)
        start -= 1
print("end")

10
9
8
7
6
5
4
3
2
1
end

In [19]:
user = int(input())
list= [1,2,3,4]
count= 0
if user in list:
    print("it is avaialable")
else:
 j =print(input())
 for j in count:
    print(j)
    count+= 1

6

TypeError: 'int' object is not iterable

In [29]:
lists = [1,2,3,4,5,6,7]
count= 1
new_list= []
while count in lists:
    new_list.append(count)
    print(new_list)
    count += 3

[1]
[1, 4]
[1, 4, 7]

In [27]:
new=[]
for i in range(3,20,3):
  new.append(i)
print(new)

[3, 6, 9, 12, 15, 18]

In [43]:
pakistan =["sindh", "KPK",  "Balochistan", "Punjab"]
counts = ''.join(pakistan)
countss= Counter(counts)
print(countss.items())

dict_items([('s', 2), ('i', 2), ('n', 3), ('d', 1), ('h', 2), ('K', 2), ('P', 2), ('B', 1), ('a', 3), ('l', 1), ('o', 1), ('c', 1), ('t', 1), ('u', 1), ('j', 1), ('b', 1)])

In [50]:
my= "my name is Aakash"
y= my.split()
print(y)

['my', 'name', 'is', 'Aakash']

In [57]:
user = input().split()
rev = [i[::-1] for i in user]
new =' '.join(rev) 
print(new)

ehs

In [58]:
text= input().split()
reversed_words= [word[::-1] for word in text]
outcome = ''.join(reversed_words)
print(outcome)

olleh

In [60]:
numbers = [1, 2, 3, 4, 5, 6]
for index, number in enumerate(numbers):
    if number %2 == 1:
        print(f"Even number {number} found at index {index}")

Even number 1 found at index 0
Even number 3 found at index 2
Even number 5 found at index 4

In [62]:
numbers = [1, 2, 3, 4, 5, 6]
for index, number in enumerate(numbers):
    if number % 2 == 0:
        print(f"Even number {number} found at index {index}")

Even number 2 found at index 1
Even number 4 found at index 3
Even number 6 found at index 5

In [65]:
books = {
    'The Silmarillion': 'John Tolkien',
    'Harry Potter and the Goblet of Fire': 'J.K. Rowling',
    'Indomitable Planet': 'Harry Garrison',
    'Man without a face': 'Alfred Bester',
    'Alice in Wonderland': 'Lewis Carroll',
    "A Space Odyssey": "Arthur Clarke",
    'Dune': 'Frank Herbert',
    "Twenty Thousand Leagues Under the Sea": "Jules Verne",
    "Yankees from Connecticut at the court of King Arthur": "Mark Twain",
    "American Gods": "Neil Gaiman",
    "The Chronicles of Amber": "Roger Zelazny",
    'The Chronicles of Narnia': 'Clive S. Lewis',
    "War of the Worlds": "HG Wells"
}
search_item= str(input(''))
for title, author in books.items():
    if title in search_item or author in search_item:
        print(f'{title} by {author}')

War of the Worlds by HG Wells

In [69]:
def greet(hi):
    return  "hello, " + hi

message = greet(input("what is your name?"))
print(message)

hello, aakash

In [1]:

x = input()
x = list(map(int, x.split(',')))
new_x = []
new_zero = []
for num in x:
    if num != 0:
        new_x.append(num)
    else:
        new_zero.append(num)
new_lst = new_x + new_zero
print(new_lst)

[12345]

In [3]:

s = input()
even = 0
odd = 0
for i in s:
    digit = int(i)
    if digit % 2 == 0:
        even += digit
    else:
        odd += digit
if even > odd:
    print("Even is greater than Odd")
elif odd > even:
    print("Odd is greater than Even")
else:
    print("Even and Odd are the same")

Even is greater than Odd